<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal:selectedVideo">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close fa fa-times" data-dismiss="modal" data-bind="click: closeModal"></button>
            <div class="modal-body">
                <player params="videoUrl: selectedVideo().id"/>
                <section class="social-controls">
                    <a href="#" class="social-link"><i class="icon icon-heart"></i> Like</a>
                    <a href="#" class="social-link"><i class="icon icon-share"></i> Share</a>
                    <button class="btn btn-danger pull-right">Delete</button>
                    <button class="btn btn-default pull-right">Edit</button>
                </section>

                <comments-box params="comments: selectedVideo().comments"/>
            </div>
        </div>
    </div>
</div>