.modal-dialog {
	width: 867px;
	.modal-content {
		padding: 32px;
	}
	.modal-body {
		padding: 0px;
	}
	.close {
	    border: 1px solid #aaa;
	    width: 23px;
	    height: 23px;
	    border-radius: 23px;
	    color: red;
	    position: absolute;
	    right: -10px;
	    top: -10px;
	    background: #fff;
	    opacity: 1;
	    font-size: 80%;
   		font-weight: normal;
	}
}