<form name="commentform" data-bind="submit: addComment">
	<input type="text" name="comment" placeholder="comment..."/>
</form>
<!-- Use HR for this strangely positioned line - it would be an overkill to try doing it with a border -->
<hr/>

<section data-bind="foreach: comments">
	<article>
		<header>
			<img width="52" height="52" src="https://api.adorable.io/avatars/52/abott@adorable.io.png"/>
			<span data-bind="text: author"></span>
			<time data-bind="text: date, attr: {datetime:date}" class="clearfix"></time>
		</header>
		<div>
			<p data-bind="text: comment"></p>
			<footer>
	            <a href="#" class="social-flag pull-right"><i class="icon icon-flag"></i> Report</a>

				<a href="#" class="social-link"><i class="icon icon-heart"></i> Like</a>
	            <a href="#" class="social-link"><i class="icon icon-share"></i> Share</a>
	            <a href="#" class="social-link"><i class="icon icon-comment"></i> Comment</a>
			</footer>
		</div>
		<section>
			<a href="#" class="active">Comment</a>
			<a href="#">Photo</a>
			<a href="#">Feedback</a>
			<form name="replayform">
				<input type="text" name="reply" placeholder="Reply..."/>
			</form>
		</section>
	</article>
</section>