@import "variables";
comments-box {
	input {
		border: 2px solid $border-color!important;
		box-shadow: none;
		border-radius: 2px;
		width: 100%;
		height: 53px;
		line-height: 55px;
		padding: 0 15px;
	}
	hr {
		margin: 36px 0 48px -30px;
	}
	article {
		margin: 0 0 10px -18px;
		header {
		    margin: 0px 0 20px -1px;
			img {
				border-radius: 52px;
			    margin-right: 17px;
			    vertical-align: top;
			    float: left;
			}
			span {
			    font-size: 132%;
			    font-weight: bold;
			    padding-top: 2px;
			    display: block;
			    color: $accent-link-color;
			}
		}
		div {
			border-left: 7px solid $left-border-comment;
			border-bottom: 1px solid $left-border-comment;
		    padding-left: 23px;
    		padding-top: 16px;
    		p {
    			line-height: 26px;
    			margin-bottom: 18px;
    		}
    		footer {
    			margin-bottom: 13px;
    		}
		}
		.social-flag {
			color: $font-color;
		}
		section {
			border-left: 7px solid $left-border-reply;
			padding-left: 23px;
			padding-top: 9px;
			a {
				color: $disabled-link-color;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 80%;
				margin-right: 19px;
				&.active{ 
					color: $link-color;
				}
			}
			form {
				margin-top: 8px;
			}
		}
	}
}