/*buttons*/
$danger-bg-color: #EA445C;
$btn-bg-color: #363636;
/*borders*/
$border-color: #F0F0EE;
/*links*/
$accent-link-color: #27B7D9;
$font-color: #192A3E;
$link-color: #565656;
$disabled-link-color: #B5B5B5;
/*Player*/
$play-btn-bg-color: #1cafd0;
$play-btn-bg-hover: green;
$default-btn-font-color: #fff;
$pause-btn-bg-color: #0D5E70;
$pause-btn-bg-hover: red;
$pause-btn-color: #60A6B6;
$seek-handle-bg-color: #093A45;
$seek-handle-bg-hover: blue;
$seek-track-bg-color: #093A45;
$seek-selection-bg-color: #1CAFCF;
$seek-handle-border-color: #DEDEDE;
$elapsed-time-color: #fff;
/*comment box*/
$left-border-comment: #e6e6e6;
$left-border-reply: #C6C6C6;


$icomoon-font-path: "assets/fonts" !default;

$icon-close: "\e900";
$icon-comment: "\e901";
$icon-flag: "\e902";
$icon-heart: "\e903";
$icon-share: "\e904";

