<div class="player-holder" data-bind="player:videoUrl">
	<iframe id="player-container"
	    width="805" height="453"
	    src="https://www.youtube.com/embed/8tPnX7OPo0Q?enablejsapi=1&controls=0&modestbranding=1&rel=0&showinfo=0&autoplay=1"
	    frameborder="0"
	></iframe>
	<span id="elapsedTime" data-bind="text:remainingTimeChange"></span>
	<section>
		<button class="btn-control btn-play" data-bind="click: play"><i class="fa" data-bind="css:playingStatusIcon"></i></button>
		<button class="btn-control btn-volume" data-bind="click: volume"><i class="fa" data-bind="css: volumeStatusIcon"></i></button>
		<slider params="value: playbackPosition, setSeekValue: setSeekValue"/>
	</section>
</div>