@import "variables";
.player-holder {
	position: relative;
	height: 453px;
	background: #000;
	& > section {
		position: absolute;
	    width: 100%;
	    bottom: 0px;
	    height: 65px;
	    background: rgba(10, 73, 91, 0.6);
	    .btn-control {
	    	width:68px;
	    	height: 100%;
	    	color: $default-btn-font-color;
	    	border: 0px none;
	    	/*fighting the space of the inline-block elements*/
	    	margin-left: -4px;
	    	&:first-child {
	    		margin-left: 0px;
	    	}
	    	i {
	    		color: inherit;
	    	}
	    }
	    .btn-play {
	    	background: $play-btn-bg-color;
	    	&:hover {
	    		background: $play-btn-bg-hover;
	    	}
	    }
	    .btn-volume {
			background: $pause-btn-bg-color;
			color: $pause-btn-color;
			&:hover {
	    		background: $pause-btn-bg-hover;
	    	}
	    }
	}
	#elapsedTime {
		position: absolute;
		right: 4px;
		bottom: 75px;
    	font-size: 80%;
		color: $elapsed-time-color;
	}
}