/* General skin. The colors are defined in the assets/_variables.scss */
@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot');
    src:    url('#{$icomoon-font-path}/icomoon.eot') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: $accent-link-color;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}
.icon-comment {
    &:before {
        content: $icon-comment;
    }
}
.icon-flag {
    &:before {
        content: $icon-flag;
    }
}
.icon-heart {
    &:before {
        content: $icon-heart;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}



* {
	color: $font-color;
}

a {
	color: $link-color;
}



.btn {
	color: #fff;
	text-transform: uppercase;
	height: 25px;
	line-height: 25px;
	padding: 0px 12px;
	font-weight: bold;
	font-size: 80%;
}
.btn-danger {
	background: $danger-bg-color;
}
.btn-default {
	color: #fff;
	background: $btn-bg-color;
	&:hover {
		background: $btn-bg-color;
		color: #fff;
	}
}

.social-controls {
	margin:11px 0 20px 0;
	line-height: 32px;
}

.social-link {
	margin-right: 18px;
}