slider {
	margin-left: 30px;
	.slider-track {
		height: 6px!important;
		background: #093A45;
	}
	.slider-selection {
		background: #1CAFCF;
	}
	.slider-handle {
		border: 3px solid #DEDEDE;
		top: 0px;
		width: 15px;
		height: 15px;
	}
}